 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row about-content">
                <p>初めまして、ジョと申します。京都に住んでる Web エンジニアです。</p>
                <p>Hi, My name is Jo. An expericed Taiwanese web developer lives in Kyoto, Japan.</p>

                <ul class="timeline timeline-split">
                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Taiwan</h3>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>September 2008 – July 2012</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">台湾国立政治大学</h4>
                            <p>商学部情報管理学科</p>
                            <hr>
                            <h4 class="timeline-title">National Chengchi University</h4>
                            <p>Bachelor degree, Management Information Systems</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>July 2012 – April 2014</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">夏天広告有限会社　Web エンジニア</h4>
                            <p>ウェブサイト依頼案件の制作を担当</p>
                            <hr>
                            <h4 class="timeline-title">Web Engineer at Summers Advertisement</h4>
                            <p>Helped over 10 various shop owners establish unique homepages which catered to their business needs.</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>June 2014 – June 2015</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">Ecowork 益科有限会社　Web エンジニア</h4>
                            <p>アプリケーション用のAPI サーバーとプッシュ通知サーバーの開発と保守を担当</p>
                            <hr>
                            <h4 class="timeline-title">Application Engineer at Ecowork</h4>
                            <p>Built systems with a decentralized structure which were stable and able to receive over 1,000 requests a second.</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>July 2015 – February 2017</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">iNDIEVOX　一定発有限会社　Web エンジニア</h4>
                            <p>オンライン音楽とチッケト販売の開発と保守を担当</p>
                            <hr>
                            <h4 class="timeline-title">Web Engineer at iNDIEVOX</h4>
                            <p>Developed and managed the ticket selling system, which can accommodate over 10,000 users for each online concert selling event.<br>
                            Supervised the music downloading system and helped our customer support troubleshooting team.
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Japan</h3>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>April 2017 – March 2018</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">ワーキング・ホリデー</h4>
                            <p>サービス業を中心に一年間アルバイト</p>
                            <hr>
                            <h4 class="timeline-title">Working Holiday</h4>
                            <p>Have experiences in service and hotel industry. Learned the spirit of Japanese hospitality through part-time jobs working as a clerk at the tax-free counter and as a hotel front-desk attendant.</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>April 2018 – March 2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">ECC 国際外語専門学校</h4>
                            <p>ホテル・観光学科トラベルコース</p>
                            <hr>
                            <h4 class="timeline-title">ECC Kokusai College of Foreign Language</h4>
                            <p>Associate degree, Tourism and Travel Services Management</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>September 2019 – August 2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 class="timeline-title">株式会社 Necusto　トラベルアドバイザー　早期入社</h4>
                            <p>海外代理の対応、国内ホテルとサービスの手配事務を担当</p>
                            <hr>
                            <h4 class="timeline-title">Travel Consultant at Necusto</h4>
                            <p>Arranged and quoted tailor-made tours for foreign visitors. Helped to arrange all the services including  hotels, guides, experiences, tickets and restaurants booking.</p>
                        </div>
                    </li>
                </ul>
                <p class="text-right">( Timeline style from <a href="https://codepen.io/phasethree/pen/NNOvrW" target="_blank" rel="noopener noreferrer">Brady Wright</a> )</p>

                <p>新型コロナウイルスの影響で、IT 業界に転職を決意し、現在は独学で Python と Django を学んでいます。Web 業界から三年間離れて早めにキャッチアップできるように頑張っていきます。どうぞよろしくお願い致します。</p>

                <p>Due to the pandemic of COVID-19, the inbound tourism industry is impacted. I am going to make a career shift back to be a web developer. Now I am learning Python and Django on my own.</p>
                <p>Feel free to check my resume and contact me!</p>

                <div class="text-center">
                    <a href="https://drive.google.com/drive/folders/1z4lQik0McLDkSr3Uih7N3qqNhJXTIN94?usp=sharing" class="btn btn-lg outline" target="_blank">
                        Jo's Resume<br>
                        履歴書と職務経歴書
                    </a>
                </div>
            </div>
        </div>
    </section>
